
<div class="container grid-container">
    <div class="row">
        {{#sub}}
            <div class="col-12 col-md-6 col-lg-4 hover">          
                <div class="card">                  
                    <a href="/school/local/dashboard/demo_learningpath.php?id={{id}}">
                        <div class="card-img-top" style="background: linear-gradient(to bottom right, #3399ff 0%, #99ccff 100%); width: 149px; height: 80px; display: flex; justify-content: center; align-items: center; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);">
                            <span style="color: white; font-size: 16px;">{{fullname}}</span>
                        </div>
                    </a>
                                           
                </div>                 
            </div>
        {{/sub}}
    </div> 
</div>