

       



	<table id="example" class="display nowrap" style="width:100%">
		<thead>
			<tr>
				<th>Id</th>
				<th>Student name</th>
				<th>Email</th>
				<th>Dob</th>
				<th>Address</th>
				<th>Phone no</th>
			</tr>
		</thead>
		<tbody>
			{{#students}}
			<tr>
				<td>{{id}}</td>
				<td>{{name}}</td>
				<td>{{email}}</td>
				<td>{{dob}}</td>
				<td>{{address}}</td>
				<td>{{no}}</td>
			</tr>
			{{/students}}
		</tbody>
	</table>

    