 <div class="row mt-5">
        <div class="col-12">
             <div class="note">
            
                 <h3 class="sub"><br>{{d_subject}}</h3>  
                 <p class="hide">{{d_content}}</p>
              
                 
                 <div class="icon-d">
                 <i class='fas fa-angle-down arrow' style='font-size:24px'></i>
                 </div>
                 
              
            </div>
               
        </div>
      
    </div>
    
        
  </body>
</html>