<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href={{css_link}} />
</head>
<body>
  <header></header>
  <div class="form-wrap">
    <div class="container">
      <div class="col-md-11 col-11 mx-auto col-lg-11">
        <div class="form-card card">
          <div class="d-flex mb-3" style="align-items: center;">
                  <h4 class="mb-0">Complaint Details</h4>
            <a href="{{complaint_link}}" class="ml-auto" style="text-decoration:none">
              <button class="btn-primary btn ml-auto" style="width: auto; margin-right: inherit;">Go Back</button>
            </a>
          </div>
          <div class="table-responsive custom-table">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th scope="col">
                    <div class="wrap-t">Complaint</div>
                  </th>
                
                  <th scope="col">
                    <div class="wrap-t">Reply</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                {{#tableRows}}
                <tr>
                  <td><div class="wrap-t">{{complaint}}</div></td>

                <td><div class="wrap-t"><a href="/local/reply/reply.php?id={{viewReplyLink}}"><button style="font-size: 14px; background-color: #5e4ec2 ; color: white; border: none; padding: 8px 16px; text-align: center; text-decoration: none; display: inline-block; cursor: pointer;">Reply</button></a></div></td>


                </tr>
                {{/tableRows}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
