
#timeline {
  width: 100%;
  position: relative;
  list-style: none;
  padding: 0;
}
#timeline a {
  text-decoration: none;
}
#timeline:after {
  content: "";
  width: 1px;
  background: 1px #e6e7e9;
  height: 90%;
  position: absolute;
  top: 3em;
  left: 3em;
  z-index: 0;
}
#timeline .listing {
  background-color: white;
  border: 1px solid #e6e7e9;
  border-radius: 0.3em;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.listing:hover {
  cursor: pointer;
  box-shadow: 0px 2px 40px 0 rgba(0, 0, 0, 0.1);
}
#timeline .listing img,
.info,
.job_type {
  display: table-cell;
  vertical-align: middle;
  font-size: 0.9em;
  color: #74718f;
}
#timeline .image_wrapper {
  width: 60px;
}
#timeline .image_wrapper img {
  width: 60px;
  display: block;
  margin: 0 auto;
  border-radius: 0.25em;
}

.info {
  line-height: 1.25;
  /* width: 640px; */
  padding-left: 15px;
  margin-right: 15px;
}
.diary_title {
  font-weight: 600;
  font-size: 18px;
  color: #34324b;
}


.title-arrow {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.title-arrow img {
  min-width: 30px;
  opacity: 0.2;
  height: 30px;
}





body {
  font-family: 'Poppins', sans-serif;
}


.nav-bar-new {
  border-bottom: 1px solid #e3e3e3;
}

.nav-bar-new .nav-link.active, .navbar-nav .nav-link.show {
  color: rgb(94 78 194);
}

.nav-bar-new .nav-link {
  color: #393939;
  position: relative;
}

.nav-bar-new .nav-link.active::before {
  position: absolute;
  content: '';
  border-bottom: 3px solid #5e4ec2;
  width: 100%;
  bottom: -16px;
  left: 0px;
}

.cards {
  height: 160px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  overflow: hidden;
  margin-top: 15px;
  box-shadow: -3px 0px 30px -5px rgba(0, 0, 0, 0.25);
  background: #fff;
}


.cards h4 {
  color: #1D1E4D;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 0px;
}

.cards   p {
  margin-bottom: 0px;
  color: #A3A3A3;
  font-size: 14px;
}
.dashboard-wrap {
  min-height: 100vh;
  background: #F7F7F9;
}

.cards-titles {
  display: flex;
  justify-content: space-between;
}

/* .cards a {

color: #fff;

text-decoration: none;
} */

.cards a img {
  width: 25px;
  margin-right: 5px;
}
.icon-card {
  position: absolute;
  right: 0px;
  transform: rotate(319deg);
  width: 120px;
  opacity: 30%;
  bottom: -5px;
}




.form-wrap {
  padding-top: 2em;
  background: #F1EFF2;
  min-height: calc(100vh - 4.6em);
  padding-bottom: 2em;
}

.form-card {
  border: 0px;
  padding: 3%;
}

.form-card h4 {

font-size: 22px;

font-weight: 600;

text-transform: uppercase;
}

.form-card p  {
  font-size: 14px;
  color: #7e7e7e;
}


.form-card label {
  
font-size: 14px;
  
font-weight: 500;
  
color: #7E7E7E;
  
text-transform: uppercase;
  
margin-bottom: 5px;
}

.form-card .form-group {
  margin-bottom: 15px;
}


.btn-primary {
  display: block;
  width: 30%;
  padding: 8px 20px;
  margin: auto;
  background: #5e4ec2 !important;
  border-color: #5e4ec2 !important;
  border-radius: 30px;
}

.custom-table {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  height: calc(100vh - 350px);
  border-bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  }

.custom-table thead th {
  background: #F4F6F8;
  font-weight: 500;
  font-size: 14px;
  color: #777A82;
} 

.table-pagination {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dee2e6;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.table-pagination .page-link {color: #212529}

.table-pagination .active>.page-link, .page-link.active {background: #f4f6f8;border-color: #dee2e6;}
.wrap-t {
  width: max-content;
  font-size: 14px;
  padding: 5px;
}

.action-table {
  color: #212529;
  text-decoration: none;
  margin-right: 5px;
  border: 1px solid #dee2e6;
  padding: 4px 10px;
  border-radius: 4px;
}
.action-table svg {
  width: 16px;
  margin-right: 3px;
}
.action-table svg path {
  fill: #838383;
}
.custom-table::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.progress-card h1 {
  margin: -20px;
  padding: 30px;
  text-align: center;
  background: #6646bd36;
}

/* Track */
.custom-table::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.custom-table::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}



.cards:hover {
  border: 2px solid #5e4ec2;
  cursor: pointer;
}

.cards:hover .cards-titles svg path {
  fill: #5e4ec2;
}


.listing-top {
  gap: 10px;
}

.listing-top .form-group {
  flex: 1;
}
.cards-bx {
  box-shadow: -3px 0px 30px -5px rgba(0, 0, 0, 0.25);
  background: #fff;
  padding: 15px;
  border-radius: 8px;
}

/*==================================
  TIMELINE
==================================*/
/*-- GENERAL STYLES
------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
  line-height: inherit;
}

/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative;
}
.timeline-item:last-child {
  padding-bottom: 0;
}

/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 0.5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-marker:before {
  background: #ccd5db;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
  content: "";
  width: 3px;
  background: #CCD5DB;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #5e4ec2;
}

/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
}
.timeline-content p:last-child {
  margin-bottom: 0;
}

/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0;
}
.period .timeline-info {
  display: none;
}
.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #CCD5DB;
  border-bottom: 3px solid #CCD5DB;
}
.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}
.period .timeline-content {
  padding: 40px 0 70px;
}
.period .timeline-title {
  margin: 0;
}

/*----------------------------------------------
    MOD: TIMELINE SPLIT
----------------------------------------------*/
@media (min-width: 768px) {
  .timeline-split .timeline, .timeline-centered .timeline {
    display: table;
  }
  .timeline-split .timeline-item, .timeline-centered .timeline-item {
    display: table-row;
    padding: 0;
  }
  .timeline-split .timeline-info, .timeline-centered .timeline-info,
.timeline-split .timeline-marker,
.timeline-centered .timeline-marker,
.timeline-split .timeline-content,
.timeline-centered .timeline-content,
.timeline-split .period .timeline-info {
    display: table-cell;
    vertical-align: top;
  }
  .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
    position: relative;
  }
  .timeline-split .timeline-content, .timeline-centered .timeline-content {
    padding-left: 30px;
  }
  .timeline-split .timeline-info, .timeline-centered .timeline-info {
    padding-right: 30px;
  }
  .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
    position: relative;
    left: -45px;
  }
}

/*----------------------------------------------
    MOD: TIMELINE CENTERED
----------------------------------------------*/
@media (min-width: 992px) {
  .timeline-centered,
.timeline-centered .timeline-item,
.timeline-centered .timeline-info,
.timeline-centered .timeline-marker,
.timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
  }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .timeline-centered .timeline-info,
.timeline-centered .timeline-content {
    width: 50%;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }
  .timeline-centered .period .timeline-title {
    left: auto;
  }
}

/*----------------------------------------------
    MOD: MARKER OUTLINE
----------------------------------------------*/
.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #FF6B6B;
}
.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #FF6B6B;
}

h3.timeline-title {
  font-size: 20px;
}
.timeline-content p {
  
font-size: 14px;
  
color: #595959;
}

.timeline-marker.completed::before {background: #05b11b;}
.timeline-marker.completed::after {background: #05b11b;}

.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: antiquewhite;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
  background: none;
}
button.accordion-button {
  font-size: 18px;
}

button.accordion-button svg {

margin-right: 15px;
}

button.accordion-button svg path {fill: #ccd5db;}
button.accordion-button.active {
  background: #f0bc5e42;
}

button.accordion-button.active svg path {
  fill: #F0BC5E;
}

button.accordion-button.completed svg path {
  fill: #05b11b;
}
button.accordion-button.collapsed.completed {
  background: #05b11b3b;
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

#container {
  height: 400px;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.profile-cover {background: linear-gradient(90deg, #F9E2AB 0%, #F5D0CA 100%);min-height: 124px;margin: -30px;}

.user-image {
  width: 100px;
  border-radius: 70px;
  border: 5px solid white;
  }

  .user-avatar-wp {
    margin-top: -20px;
    position: relative;
  }

.more-dots {
  position: absolute;
    right: 20px;
    bottom: 0px;
    opacity: 0.5;
    transform: rotate(90deg);
}
.user-d-inner img {width: 26px;opacity: 0.4;height: 26px;margin-right: 8px;}
.user-d-inner {
  display: flex;
  align-items: center;
}

.user-d-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.course-list {
  position: relative;
  padding-left: 10px;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 5px;
  border: 1px solid #ebebeb;
  margin-bottom: 10px;
  padding: 10px;
}
.course-list::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  background: #5e4ec2;
  left: -3px;
  top: 0px;
  border-radius: 3px;
}


.sub-titles {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.grid-n-list {

background: white;

width: 30px;

height: 30px;

display: inline-flex;

align-items: center;

justify-content: center;

padding: 5px;

margin-right: 10px;

border-radius: 4px;
}
.grid-n-list img  {
  
width: 22px;
}
.Holiday-box {
  display: flex;
  width: 100%;
  border: 1px solid;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 15px;
}

.hday-lt {
  width: 70px;
  text-align: center;
  margin-right: 15px;
  border-right: 1px solid;
}

.hday-lt p {
    margin-bottom: 0px;
    background: red;
    color: #fff;
}
.hday-lt h5  {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
}

.hday-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.hday-txt h4 {
    margin-bottom: 0px;
    font-size: 18px;
}
.hday-txt p {
    margin-bottom: 0px;
}

.holiday-wrap .col-md-6:nth-child(3n + 1) .Holiday-box{
  border-color: #64c3d1!important;
}

.holiday-wrap .col-md-6:nth-child(3n + 1) .hday-lt p{
  background: #64c3d1!important;
 
}
.holiday-wrap .col-md-6:nth-child(3n + 1) .hday-lt {
  border-color: #64c3d1!important;
 
}

.holiday-wrap .col-md-6:nth-child(3n + 2) .Holiday-box{
  border-color: #ec8686!important;
}

.holiday-wrap .col-md-6:nth-child(3n + 2) .hday-lt p{
  background: #ec8686!important;
 
}
.holiday-wrap .col-md-6:nth-child(3n + 2) .hday-lt {
  border-color: #ec8686!important;
 
}

.holiday-wrap .col-md-6:nth-child(3n) .Holiday-box{
  border-color: #fbc02d!important;
}

.holiday-wrap .col-md-6:nth-child(3n ) .hday-lt p{
  background: #fbc02d!important;
 
}
.holiday-wrap .col-md-6:nth-child(3n) .hday-lt {
  border-color: #fbc02d!important;
 
}

.holiday-wrap .col-md-6:nth-child(4n) .Holiday-box{
  border-color: #98b433!important;
}

.holiday-wrap .col-md-6:nth-child(4n ) .hday-lt p{
  background: #98b433!important;
 
}
.holiday-wrap .col-md-6:nth-child(4n) .hday-lt {
  border-color: #98b433!important;
 
}

.holiday-wrap .col-md-6:nth-child(5n) .Holiday-box{
  border-color: #cb7cc0!important;
}

.holiday-wrap .col-md-6:nth-child(5n ) .hday-lt p{
  background: #cb7cc0!important;
 
}
.holiday-wrap .col-md-6:nth-child(5n) .hday-lt {
  border-color: #cb7cc0!important;
 
}
/* Add styles for past dates */
.past-date .Holiday-box {
  color: #999;
  background-color: #f5f5f5;
  /* Add more styling as needed */
}

.box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0px 0px 25px;
  border-radius: 20px;
  background-color: #fff;
}
.box h1 {
  margin: 0 10px 20px;
  font-size: 12px;
  color: #8b8b8b;
}
.box .users {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box .users label {
  width: 48px;
  height: 48px;
  margin: 0 -9px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.box .users label input {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  margin: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: unset;
}
.box .users label input::before {
  content: "";
  width: 44px;
  height: 44px;
  position: absolute;
  border: 2px solid #4900ff;
  border-radius: 100px;
  transform: scale(0.82);
  transition: 0.3s cubic-bezier(0.73, 0, 0.23, 1);
  top: 2px;
  right: 2px;
}
.box .users label input:checked::before {
  transform: scale(0.9);
}
.box .users label input:checked ~ img {
  transform: scale(0.82);
}
.box .users label input:checked ~ span {
  opacity: 1;
  transform: translateY(-2px);
}
.box .users label img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  -o-object-fit: cover;
  object-fit: cover;
  transform: scale(1);
  transition: 0.3s cubic-bezier(0.73, 0, 0.23, 1);
}
.box .users label span {
  position: absolute;
  bottom: -22px;
  font-size: 10px;
  opacity: 0;
  transform: translateY(-4px);
  transition: 0.3s cubic-bezier(0.73, 0, 0.23, 1);
}

#cookies {
  /* display: none; */
  width: 100%;
  height: 110px;
  padding-top: 30px;
  position: absolute;
  background: #fcf8e3;
  border-bottom: 2px solid #fbeed5;
  color: #c09853;
  text-align: center;
  top: -28px;
  left: 0;
  z-index: 9999;
  }

  #cookies > p {
    margin: 0 0 10px 0;
    font-weight: bold;}
  
  #cookies > p a {
    color: #332b17;
    text-decoration: none;}

#cookies.display {
  display: block;

  /* Cross browser animation */
  -webkit-animation: cookies 1s 1; /* Chrome, Safari 5+ */
  -moz-animation: cookies 1s 1; /* Firefox 5-15 */
  -ms-animation: cookies 1s 1; /* IE9 */
  -o-animation: cookies 1s 1; /* Opera 12.00 */
  animation: cookies 1s 1; /* Chrome, Firefox 16+, IE 10+, Opera 12.10+ */
  top: 0px;
  }

@keyframes cookies {
  0%   {
    -webkit-transform: translate3d(0,-100px,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,-100px,0); /* Firefox */
        -ms-transform: translate3d(0,-100px,0); /* IE9 */
         -o-transform: translate3d(0,-100px,0); /* Opera */
            transform: translate3d(0,-100px,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,0,0); /* Firefox */
        -ms-transform: translate3d(0,0,0); /* IE9 */
         -o-transform: translate3d(0,0,0); /* Opera */
            transform: translate3d(0,0,0);
  }
}
@-webkit-keyframes cookies {
  0%   {
    -webkit-transform: translate3d(0,-100px,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,-100px,0); /* Firefox */
        -ms-transform: translate3d(0,-100px,0); /* IE9 */
         -o-transform: translate3d(0,-100px,0); /* Opera */
            transform: translate3d(0,-100px,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,0,0); /* Firefox */
        -ms-transform: translate3d(0,0,0); /* IE9 */
         -o-transform: translate3d(0,0,0); /* Opera */
            transform: translate3d(0,0,0);
  }
}
@-moz-keyframes cookies {
  0%   {
    -webkit-transform: translate3d(0,-100px,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,-100px,0); /* Firefox */
        -ms-transform: translate3d(0,-100px,0); /* IE9 */
         -o-transform: translate3d(0,-100px,0); /* Opera */
            transform: translate3d(0,-100px,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,0,0); /* Firefox */
        -ms-transform: translate3d(0,0,0); /* IE9 */
         -o-transform: translate3d(0,0,0); /* Opera */
            transform: translate3d(0,0,0);
  }
}
@-o-keyframes cookies {
  0%   {
    -webkit-transform: translate3d(0,-100px,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,-100px,0); /* Firefox */
        -ms-transform: translate3d(0,-100px,0); /* IE9 */
         -o-transform: translate3d(0,-100px,0); /* Opera */
            transform: translate3d(0,-100px,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,0,0); /* Firefox */
        -ms-transform: translate3d(0,0,0); /* IE9 */
         -o-transform: translate3d(0,0,0); /* Opera */
            transform: translate3d(0,0,0);
  }
}

.close-cookies {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translate3d(0,-100px,0); /* Safari & Chrome */
  -moz-transform: translate3d(0,-100px,0); /* Firefox */
  -ms-transform: translate3d(0,-100px,0); /* IE9 */
  -o-transform: translate3d(0,-100px,0); /* Opera */
  transform: translate3d(0,-100px,0);
  top: -37px !important;
}
.uk-tile-primary {
  background-color: #00838f;
}

.uk-tile-secondary {
  background: #444;
}

.timetable td {
  padding-left: 0 !important;
  min-width: 16%;
}

.uk-tile-primary {
  background-color: #6646bd29;
}
h4.uk-margin-remove-bottom {
  color: #444444 !important;
}

.uk-tile-primary i {
  color: #6e6665 !important;
}

.uk-tile>:last-child {
  margin-bottom: 0;
  color: #6646bd;
}

.uk-tile-secondary {
  background: #6646bd;
}
.break-bg div{
  color: #000000 !important;
  font-weight: 500;
  font-style: oblique;
}
.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center; 
  white-space: nowrap;
  margin: -10%;
}
@media (max-width:786px) {
  .btn-primary {
      width: 100%;
  }
  .form-card {
      padding: 5%;
  }
  .listing-top {
      flex-direction: column;
  }
  .user-d-wrap {
    flex-direction: column;
    gap: 18px;
  }
}
.no-hover-link {
  text-decoration: none;
  color: inherit; /* Use the color of the parent element or specify a color here */
}
.hide{
  display: none;
}
.table-responsive.custom-table{
  border: 1px solid #dee2e6;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.closex {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}