<form class="row g-3">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        {{var1}}
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        {{var2}}
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
         {{var3}}
    </div>
    
</form>