
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Poppins:wght@100&display=swap');
  body {
    font-family: "Gill Sans Extrabold", sans-serif;
    color: #000000;
  }
  
  .mform {
    max-width: 600px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
  }
  h2 {
    margin: 0 0 30px 0;
    text-align: center;
    text-shadow: 2px 2px 4px #666;
    font-family: 'Castoro Titling', cursive;
font-family: 'Poppins', sans-serif;
  }
/* Styles for the form */
.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    height: 35px;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
    color: #7b7b7b;
  }
  
  
  /* .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  }
   */
  
  .btn:hover,
  .btn:focus,
  .btn:active {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  }
  
  .btn:disabled,
  .btn[disabled],
  fieldset[disabled] .btn {
    cursor: not-allowed;
    background-color: #337ab7;
    border-color: #2e6da4;
    opacity: 0.65;
    filter: alpha(opacity=65);
    box-shadow: none;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #2e6da4;
  }
  
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-secondary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }
  
  .btn-primary:disabled,
  .btn-primary[disabled],
  fieldset[disabled] .btn-primary {
    cursor: not-allowed;
    background-color: #337ab7;
    border-color: #2e6da4;
    opacity: 0.65;
    filter: alpha(opacity=65);
    box-shadow: none;
  }
  
  /* Styles for the error messages */
  .error {
    color: red;
    margin-top: 5px;
    font-size: 14px;
  }
  