<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href={{css_link}} />
</head>

<body>

  <div id="cookies">
 {{#data.diary_entries}}
         <p style="font-size: 18px;">{{content}}</p>
         {{/data.diary_entries}}
         {{#data.user_d_content.is_read_more}}
             <a href="readmore.php">Read more notification</a>            
        {{/data.user_d_content.is_read_more}}
   <!-- <p>
        <a href="#" id="close-cookies">Close Message</a>
    </p>--> 
    
</div>


   

    <div class="dashboard-wrap pt-5">
        <div class="container">
            <div class="row card-group">

                <div class="col-md-11 mx-auto">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="cards" style="height: auto;">
                                <div id="charts" ></div>
                            </div>
                            
                        </div>
                        <div class="col-lg-6">
                            <div class="cards" style="height: auto;">
                                <div id="chart1" ></div>
                            </div>
                            
                        </div>

                       <div class="col" style="flex: 2;">
    <div class="cards" style="flex-direction: row; align-items: baseline;">
        <div class="box">
            <h4 style="margin-bottom: 20px;">On Leave Today</h4>
            <div class="users">
                {{#data.myarray1}}
                    <label for="one">
                        <input type="radio" name="user" />
                        <div style="text-transform: uppercase;">{{initial}}</div>
                        <span style="font-size: 14px;">{{sname}}</span>
                       
                    </label>
                     {{#dots}}<p>.....</p>{{/dots}}
                {{/data.myarray1}}
            </div>
        </div>
        <div><a href="viewall.php">VIEW ALL</a></div>
    </div>
</div>

                        <div class="col" style="flex: 2;">
                           <a href={{viewprofile}} style="text-decoration:none"><div class="cards">
                                <img src={{ic12}} width="45px" />
                                <div class="cards-titles">
                                    <div>
                                        <h4>Student</h4>
                                        <p>Profile</p>
                                    </div>
                                    <svg width="31" height="30" viewBox="0 0 31 30" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M27.9002 14.25L17.8736 4.40625C17.4377 3.98437 16.7596 3.98437 16.3236 4.40625C15.8877 4.82812 15.8877 5.48438 16.3236 5.90625L24.4611 13.9219H3.8752C3.29395 13.9219 2.80957 14.3906 2.80957 14.9531C2.80957 15.5156 3.29395 16.0312 3.8752 16.0312H24.558L16.3236 24.1406C15.8877 24.5625 15.8877 25.2188 16.3236 25.6406C16.5174 25.8281 16.808 25.9219 17.0986 25.9219C17.3893 25.9219 17.6799 25.8281 17.8736 25.5938L27.9002 15.75C28.3361 15.3281 28.3361 14.6719 27.9002 14.25Z"
                                            fill="#A3A3A3" />
                                    </svg>


                                </div>

                            </div></a>
                        </div>
                        <div class="col" style="flex: 2;">
                            <a href={{sub_studentview}} style="text-decoration:none"><div class="cards">
                                <img src={{ic5}} width="45px" />
                                <div class="cards-titles">
                                    <div>
                                        <h4>Subjects</h4>
                                        <p>Taken</p>
                                    </div>
                                    <svg width="31" height="30" viewBox="0 0 31 30" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M27.9002 14.25L17.8736 4.40625C17.4377 3.98437 16.7596 3.98437 16.3236 4.40625C15.8877 4.82812 15.8877 5.48438 16.3236 5.90625L24.4611 13.9219H3.8752C3.29395 13.9219 2.80957 14.3906 2.80957 14.9531C2.80957 15.5156 3.29395 16.0312 3.8752 16.0312H24.558L16.3236 24.1406C15.8877 24.5625 15.8877 25.2188 16.3236 25.6406C16.5174 25.8281 16.808 25.9219 17.0986 25.9219C17.3893 25.9219 17.6799 25.8281 17.8736 25.5938L27.9002 15.75C28.3361 15.3281 28.3361 14.6719 27.9002 14.25Z"
                                            fill="#A3A3A3" />
                                    </svg>


                                </div>

                            </div></a>
                        </div>
                        <div class="col">
                            <a href={{student_learningpath}} style="text-decoration:none"><div class="cards"> 
                              <img src={{ic2}} width="45px" />
                                <div class="cards-titles">
                                    <div>
                                        <h4>Learning Path</h4>
                                        <p>Analysis</p>
                                    </div>
                                    <svg width="31" height="30" viewBox="0 0 31 30" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M27.9002 14.25L17.8736 4.40625C17.4377 3.98437 16.7596 3.98437 16.3236 4.40625C15.8877 4.82812 15.8877 5.48438 16.3236 5.90625L24.4611 13.9219H3.8752C3.29395 13.9219 2.80957 14.3906 2.80957 14.9531C2.80957 15.5156 3.29395 16.0312 3.8752 16.0312H24.558L16.3236 24.1406C15.8877 24.5625 15.8877 25.2188 16.3236 25.6406C16.5174 25.8281 16.808 25.9219 17.0986 25.9219C17.3893 25.9219 17.6799 25.8281 17.8736 25.5938L27.9002 15.75C28.3361 15.3281 28.3361 14.6719 27.9002 14.25Z"
                                            fill="#A3A3A3" />
                                    </svg>


                                </div>

                            </div></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="">
                            <a href={{viewattendstd}} style="text-decoration:none"><div class="cards">
                             <img src={{ic6}} width="45px" />
                                <div class="cards-titles">
                                    <div>
                                         <h4>Attendance</h4>
                                        <p>View</p>
                                    </div>
                                    <svg width="31" height="30" viewBox="0 0 31 30" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M27.9002 14.25L17.8736 4.40625C17.4377 3.98437 16.7596 3.98437 16.3236 4.40625C15.8877 4.82812 15.8877 5.48438 16.3236 5.90625L24.4611 13.9219H3.8752C3.29395 13.9219 2.80957 14.3906 2.80957 14.9531C2.80957 15.5156 3.29395 16.0312 3.8752 16.0312H24.558L16.3236 24.1406C15.8877 24.5625 15.8877 25.2188 16.3236 25.6406C16.5174 25.8281 16.808 25.9219 17.0986 25.9219C17.3893 25.9219 17.6799 25.8281 17.8736 25.5938L27.9002 15.75C28.3361 15.3281 28.3361 14.6719 27.9002 14.25Z"
                                            fill="#A3A3A3" />
                                    </svg>


                                </div>

                            </div></a>
                        </div>
                        <div class="col" style="">
                            <a href={{studentview_1}} style="text-decoration:none"><div class="cards">
                              <img src={{ic13}} width="45px" />
                                <div class="cards-titles">
                                    <div>
                                        <h4>Time Table</h4>
                                        <p>View</p>
                                    </div>
                                    <svg width="31" height="30" viewBox="0 0 31 30" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M27.9002 14.25L17.8736 4.40625C17.4377 3.98437 16.7596 3.98437 16.3236 4.40625C15.8877 4.82812 15.8877 5.48438 16.3236 5.90625L24.4611 13.9219H3.8752C3.29395 13.9219 2.80957 14.3906 2.80957 14.9531C2.80957 15.5156 3.29395 16.0312 3.8752 16.0312H24.558L16.3236 24.1406C15.8877 24.5625 15.8877 25.2188 16.3236 25.6406C16.5174 25.8281 16.808 25.9219 17.0986 25.9219C17.3893 25.9219 17.6799 25.8281 17.8736 25.5938L27.9002 15.75C28.3361 15.3281 28.3361 14.6719 27.9002 14.25Z"
                                            fill="#A3A3A3" />
                                    </svg>


                                </div>

                            </div></a>
                        </div>
                        <div class="col" style="flex:2">
                            <a href={{studentview_diary}} style="text-decoration:none"><div class="cards">
                                <img src={{ic14}} width="45px" />
                                <div class="cards-titles">
                                    <div>
                                        <h4>My Diary</h4>
                                        <p> View</p>
                                    </div>
                                    <svg width="31" height="30" viewBox="0 0 31 30" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M27.9002 14.25L17.8736 4.40625C17.4377 3.98437 16.7596 3.98437 16.3236 4.40625C15.8877 4.82812 15.8877 5.48438 16.3236 5.90625L24.4611 13.9219H3.8752C3.29395 13.9219 2.80957 14.3906 2.80957 14.9531C2.80957 15.5156 3.29395 16.0312 3.8752 16.0312H24.558L16.3236 24.1406C15.8877 24.5625 15.8877 25.2188 16.3236 25.6406C16.5174 25.8281 16.808 25.9219 17.0986 25.9219C17.3893 25.9219 17.6799 25.8281 17.8736 25.5938L27.9002 15.75C28.3361 15.3281 28.3361 14.6719 27.9002 14.25Z"
                                            fill="#A3A3A3" />
                                    </svg>


                                </div>

                            </div></a>
                        </div>
                    </div>

                    <div class="hide">
                    <div class="row">
                        <div class="col" style="">
                            <a href={{upcoming}} style="text-decoration:none"><div class="cards">
                                <img src={{ic7}} width="45px" />
                                <div class="cards-titles">
                                    <div>
                                        <h4>Upcoming</h4>
                                        <p>View</p>
                                    </div>
                                    <svg width="31" height="30" viewBox="0 0 31 30" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M27.9002 14.25L17.8736 4.40625C17.4377 3.98437 16.7596 3.98437 16.3236 4.40625C15.8877 4.82812 15.8877 5.48438 16.3236 5.90625L24.4611 13.9219H3.8752C3.29395 13.9219 2.80957 14.3906 2.80957 14.9531C2.80957 15.5156 3.29395 16.0312 3.8752 16.0312H24.558L16.3236 24.1406C15.8877 24.5625 15.8877 25.2188 16.3236 25.6406C16.5174 25.8281 16.808 25.9219 17.0986 25.9219C17.3893 25.9219 17.6799 25.8281 17.8736 25.5938L27.9002 15.75C28.3361 15.3281 28.3361 14.6719 27.9002 14.25Z"
                                            fill="#A3A3A3" />
                                    </svg>


                                </div>

                            </div></a>
                        </div>
                        <div class="col" style="flex:2">
                             <a href={{holiday_calendar}} style="text-decoration:none"><div class="cards">
                                <img src={{ic8}} width="45px" />
                                <div class="cards-titles">
                                    <div>
                                        <h4>Holidays</h4>
                                        <p>Calender</p>
                                    </div>
                                    <svg width="31" height="30" viewBox="0 0 31 30" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M27.9002 14.25L17.8736 4.40625C17.4377 3.98437 16.7596 3.98437 16.3236 4.40625C15.8877 4.82812 15.8877 5.48438 16.3236 5.90625L24.4611 13.9219H3.8752C3.29395 13.9219 2.80957 14.3906 2.80957 14.9531C2.80957 15.5156 3.29395 16.0312 3.8752 16.0312H24.558L16.3236 24.1406C15.8877 24.5625 15.8877 25.2188 16.3236 25.6406C16.5174 25.8281 16.808 25.9219 17.0986 25.9219C17.3893 25.9219 17.6799 25.8281 17.8736 25.5938L27.9002 15.75C28.3361 15.3281 28.3361 14.6719 27.9002 14.25Z"
                                            fill="#A3A3A3" />
                                    </svg>


                                </div>

                            </div></a>
                        </div>
                        <div class="col" style="flex:2">
                            <a href={{std_viewrequest}} style="text-decoration:none"><div class="cards">
                                <img src={{ic15}} width="45px" />

                                <div class="cards-titles">
                                    <div>
                                    <h4>Apply Leave</h4>
                                        <p>Message</p>
                                    </div>
                                    <svg width="31" height="30" viewBox="0 0 31 30" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M27.9002 14.25L17.8736 4.40625C17.4377 3.98437 16.7596 3.98437 16.3236 4.40625C15.8877 4.82812 15.8877 5.48438 16.3236 5.90625L24.4611 13.9219H3.8752C3.29395 13.9219 2.80957 14.3906 2.80957 14.9531C2.80957 15.5156 3.29395 16.0312 3.8752 16.0312H24.558L16.3236 24.1406C15.8877 24.5625 15.8877 25.2188 16.3236 25.6406C16.5174 25.8281 16.808 25.9219 17.0986 25.9219C17.3893 25.9219 17.6799 25.8281 17.8736 25.5938L27.9002 15.75C28.3361 15.3281 28.3361 14.6719 27.9002 14.25Z"
                                            fill="#A3A3A3" />
                                    </svg>


                                </div>

                            </div></a>
                        </div>
                    </div>

                    

                   <div class="row">
                        <div class="col" style="">
                            <a href={{view_complaint}} style="text-decoration:none"><div class="cards">
                                <img src={{ic9}} width="45px" />
                                <div class="cards-titles">
                                    <div>
                                        <h4>Complaint</h4>
                                        <p>Register</p>
                                    </div>
                                    <svg width="31" height="30" viewBox="0 0 31 30" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M27.9002 14.25L17.8736 4.40625C17.4377 3.98437 16.7596 3.98437 16.3236 4.40625C15.8877 4.82812 15.8877 5.48438 16.3236 5.90625L24.4611 13.9219H3.8752C3.29395 13.9219 2.80957 14.3906 2.80957 14.9531C2.80957 15.5156 3.29395 16.0312 3.8752 16.0312H24.558L16.3236 24.1406C15.8877 24.5625 15.8877 25.2188 16.3236 25.6406C16.5174 25.8281 16.808 25.9219 17.0986 25.9219C17.3893 25.9219 17.6799 25.8281 17.8736 25.5938L27.9002 15.75C28.3361 15.3281 28.3361 14.6719 27.9002 14.25Z"
                                            fill="#A3A3A3" />
                                    </svg>


                                </div>

                            </div></a>
                            
                        </div>

                        <div class="col" style="flex:2">
                         <a href={{survey_studentview}} style="text-decoration:none"><div class="cards">
                                <img src={{ic17}} width="45px" />
                                <div class="cards-titles">
                                    <div>
                                        <h4>Survey</h4>
                                        <p>Form</p>
                                    </div>
                                    <svg width="31" height="30" viewBox="0 0 31 30" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M27.9002 14.25L17.8736 4.40625C17.4377 3.98437 16.7596 3.98437 16.3236 4.40625C15.8877 4.82812 15.8877 5.48438 16.3236 5.90625L24.4611 13.9219H3.8752C3.29395 13.9219 2.80957 14.3906 2.80957 14.9531C2.80957 15.5156 3.29395 16.0312 3.8752 16.0312H24.558L16.3236 24.1406C15.8877 24.5625 15.8877 25.2188 16.3236 25.6406C16.5174 25.8281 16.808 25.9219 17.0986 25.9219C17.3893 25.9219 17.6799 25.8281 17.8736 25.5938L27.9002 15.75C28.3361 15.3281 28.3361 14.6719 27.9002 14.25Z"
                                            fill="#A3A3A3" />
                                    </svg>


                                </div>

                            </div></a>
                        </div>
                        
                         <div class="col" style="">
                            <a href={{view_enquiry1}} style="text-decoration:none"><div class="cards">
                                <img src={{ic18}} width="45px" />
                                <div class="cards-titles">
                                    <div>
                                        <h4>Enguiry</h4>
                                        <p>Ask</p>
                                    </div>
                                    <svg width="31" height="30" viewBox="0 0 31 30" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M27.9002 14.25L17.8736 4.40625C17.4377 3.98437 16.7596 3.98437 16.3236 4.40625C15.8877 4.82812 15.8877 5.48438 16.3236 5.90625L24.4611 13.9219H3.8752C3.29395 13.9219 2.80957 14.3906 2.80957 14.9531C2.80957 15.5156 3.29395 16.0312 3.8752 16.0312H24.558L16.3236 24.1406C15.8877 24.5625 15.8877 25.2188 16.3236 25.6406C16.5174 25.8281 16.808 25.9219 17.0986 25.9219C17.3893 25.9219 17.6799 25.8281 17.8736 25.5938L27.9002 15.75C28.3361 15.3281 28.3361 14.6719 27.9002 14.25Z"
                                            fill="#A3A3A3" />
                                    </svg>


                                </div>

                            </div></a>
                    

                    </div>
                </div>

                    <div class="row justify-content-center">
                    <div class="col-4">
                         <a href={{student_div_analyticalview}} style="text-decoration:none"><div class="cards">
                                <img src={{ic19}} width="45px" />
                                <div class="cards-titles">
                                    <div>
                                        <h4>Analytical view</h4>
                                        <p>Analysis</p>
                                    </div>
                                    <svg width="31" height="30" viewBox="0 0 31 30" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M27.9002 14.25L17.8736 4.40625C17.4377 3.98437 16.7596 3.98437 16.3236 4.40625C15.8877 4.82812 15.8877 5.48438 16.3236 5.90625L24.4611 13.9219H3.8752C3.29395 13.9219 2.80957 14.3906 2.80957 14.9531C2.80957 15.5156 3.29395 16.0312 3.8752 16.0312H24.558L16.3236 24.1406C15.8877 24.5625 15.8877 25.2188 16.3236 25.6406C16.5174 25.8281 16.808 25.9219 17.0986 25.9219C17.3893 25.9219 17.6799 25.8281 17.8736 25.5938L27.9002 15.75C28.3361 15.3281 28.3361 14.6719 27.9002 14.25Z"
                                            fill="#A3A3A3" />
                                    </svg>


                                </div>

                            </div></a>
                        </div>
                        </div>

            </div>
            </div>
   
         <div class="text-center pb-5 pt-5">
            <button class="btn btn-primary" id="showHideButton">More Features></button>
         </div>
                    
                </div>
            </div>
        </div>
    </div>


 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        var chartData1 = {{{chartData1}}};
        var months1 = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

        // Create the first chart
        Highcharts.chart('charts', {
            title: {
            text: 'Attendance'
        },
            chart: {
                type: 'column'
            },
            xAxis: {
                categories: months1
            },
            plotOptions: {
                column: {
                    pointWidth: 20
                }
            },
            series: [{
                name: 'Absents',
                colorByPoint: true,
                data: chartData1
            }],
        });
    </script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        var chartData2 = {{{chartData2}}};
        var months2 = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

        // Create the second chart
        Highcharts.chart('chart1', {
            title: {
            text: 'Leave'
        },
            chart: {
                type: 'column'
            },
            xAxis: {
                categories: months2
            },
            plotOptions: {
                column: {
                    pointWidth: 20
                }
            },
            series: [{
                name: 'Leaves taken',
                colorByPoint: true,
                data: chartData2
            }],
        });


    </script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var cardsDiv = document.querySelector(".hide");
        var showHideButton = document.getElementById("showHideButton");

        showHideButton.addEventListener("click", function() {
            cardsDiv.classList.toggle("hide"); // Toggle the hide class

            if (showHideButton.textContent === "More Features>") {
                showHideButton.textContent = "Less Features>"; 
            } else {
                showHideButton.textContent = "More Features>";
            }
        });
    });
    
    /* Cookies */
$(document).ready(function(){
  $("#cookies").addClass("display");
   $("#close-cookies").click(function(){ 
    event.preventDefault();
    $("#cookies").addClass("close-cookies");
  });
});
</script>


 </body>
 </html>