<table class="table table-striped">
  <thead>
    <tr>
      <th>All notifications</th>
      <th>Start date - End date</th>
    </tr>
  </thead>
  <tbody>
    {{#day}}
      <tr>
        <td>{{content}}</td>
        <td>{{s_time}} - {{e_time}}</td>
      </tr>
    {{/day}}
  </tbody>
</table>
